*,
*::before,
*::after {
  box-sizing: border-box;}

*{
    font-weight: bold;
  
   
}



.lineaTemporal{
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
    &:after{
        content: '';
        position: absolute;
        width: 2px;
        background: #EC5C44

        ;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -1px;
    }


.bloque {
    padding: 15px 30px;
    position: relative;
    background: inherit;

    width: 50%;
    &::after{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: calc(50% - 8px);
        right: -8px;
        background: #ffffff;
        border: 2px solid #EC5C44;
        border-radius: 16px;
        z-index: 1;
    }
    &::before{
        content: '';
        position: absolute;
        width: 50px;
        height: 2px;
        top: calc(50% - 1px);
        right: 8px;
        background: #EC5C44;
        z-index: 1;
      
    }
    &.izquierda{
        left:0;
        .mileStone{
            right: -89px;
            color: white;
            font-weight: bold
        }
        .icon{
            right: 56px;
            cursor: pointer;
        }
    }
    &.derecha{
        left:50%;
        &:before{
                left: 8px;
        }
        &:after{
            left: -8px
        }

        .mileStone{
            left: -105px;
            color: white;
            font-weight: bold
        }
        .icon{
            left: 56px;
            cursor: pointer;
        }
        .contenido{
            padding: 30px 30px 30px 90px;
            border-radius: 500px 0 0 500px;
        }
    }
 
    .contenido{
        padding: 30px 90px 30px 30px;
        background: white;
        position: relative;
        border-radius: 0 500px 500px 0;
        border-block-style: double;
        border-block-color: #EC5C44;
        &.tachado{
            text-decoration: line-through;
            font-weight: bolder;
            background-color: red;
            font-size: 20px;
        }
        & h2{
            margin: 0 0 10px 0;
            font-size: 18px;
            font-weight: normal;
            color: #006E51;
        }
        & p{
            margin: 0;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            margin-right: 12px;
            margin-left: 12px;
        }
    }
    .icon{
        position: absolute;
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 9px 0;
        top: calc(50% - 20px);
        background: white;
        border: 2px solid #006E51;
        border-radius: 40px;
        text-align: center;
        font-size: 18px;
        color: #006E51;
        z-index: 1;
        &:hover{
            background-color:rgb(161, 131, 131);
        }
        &.izquierda{
            margin-right:12px
        }
        &.derecha{
            margin-left: 12px;
        }
    }
  
    .mileStone{
        position: absolute;
        display: inline-block;
        top: calc(50% - 8px);
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #006E51;
        text-transform: uppercase;
        letter-spacing: 1px;
        z-index: 1;
     
    }
  }

}

div{
    text-align: center;
  }
  
  button{
      padding: 1%;
      background-color: white;
      color: #006E51;
      cursor: pointer;
      font-weight: bold;
      border-block-style: double;
      border-block-color: #EC5C44;
      &:hover{
        background-color:rgb(161, 131, 131);
    }
  }

  .botonMil{
      text-align: center;
  }